html {
  height: 100%;
  background: #30485f;
  font-family: sans-serif;
  font-size: 14px; }

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 1200px; }

.container {
  display: flex;
  width: 100%; }

textarea, pre {
  flex: 1;
  padding: 15px;
  overflow: auto;
  margin: 0;
  max-height: 700px;
  background: #333;
  color: #fff; }

input {
  width: 100%;
  box-sizing: border-box; }

.box {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0 2em;
  overflow: auto; }
  .box-label {
    font-size: 18px;
    color: #fff;
    margin-bottom: 10px; }

.error {
  color: #E36049; }

.loading {
  position: relative;
  font-size: 2em; }

.loading:before {
  content: 'Compiling...';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

my-app {
  display: block;
  padding: 0;
  background: #fff;
  margin: 3em 1em 0 1em;
  max-width: 800px;
  text-align: center; }

.label {
  margin-top: 0.5em;
  color: #fff;
  font-size: 1.5em; }

.output {
  display: flex;
  flex: 1;
  flex-direction: column;
  color: #fff; }

child {
  display: flex;
  flex-wrap: wrap; }

h2 {
  width: 100%; }

sub-child {
  padding: 0 2em;
  width: 33.3%;
  box-sizing: border-box; }

.w-50 {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.align-start {
  align-self: flex-start; }

.actions {
  display: flex;
  justify-content: center; }
  .actions button {
    margin-left: 2em; }

button {
  background: #4CAF50;
  color: #fff;
  border: none;
  cursor: pointer;
  height: 40px;
  padding: 0 2em;
  border-radius: 3px;
  outline: none; }

.scheme {
  margin: 3em 0;
  position: relative; }

.step {
  display: block;
  line-height: 2em;
  padding: 0 1em;
  background: #0e9aad;
  width: 15em;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #fff;
  margin-bottom: 1em;
  align-self: flex-start;
  box-sizing: border-box;
  cursor: pointer;
  text-decoration: none; }
  .step:hover {
    background: #fff;
    color: #000;
    border-color: #0e9aad; }
  .step--active {
    background: #9C27B0 !important; }
    .step--active:hover {
      color: #fff;
      border: 1px solid #fff; }

.group {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px dashed #fff;
  padding: 2em;
  margin-bottom: 1em;
  border-radius: 2em; }
  .group:before, .group:after {
    position: absolute;
    left: 2.75em;
    color: #fff;
    font-size: 0.75em; }
  .group:before {
    content: 'enter view';
    top: 0.75em; }
  .group:after {
    content: 'leave view';
    bottom: 0.75em; }
  .group .step:last-of-type {
    margin-bottom: 0; }

.cd-triggers {
  display: flex;
  justify-content: space-between;
  width: 100%; }
  .cd-triggers .step:not(:hover) {
    background: #869b3d; }
  .cd-triggers__chain {
    display: flex;
    flex-direction: column;
    margin-left: 2em; }
  .cd-triggers__manual {
    position: relative;
    align-self: flex-end;
    margin-right: 2em; }
    .cd-triggers__manual:before {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      border-left: 2px solid;
      transform: translateX(-50%);
      color: #fff;
      height: 18em;
      z-index: -1; }
    .cd-triggers__manual:after {
      left: 50%;
      top: calc(100% + 18em);
      transform: translate(-50%, -50%); }

.process {
  display: flex;
  flex-direction: column;
  align-items: center; }

.step__detect-changes {
  position: relative;
  margin: 0 0 2em 0;
  width: 100%; }

.step__detect-changes:before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 9.5em;
  border-left: 2px solid;
  transform: translateX(-50%);
  color: #fff;
  height: 3em;
  z-index: -1; }

.step__detect-changes:after {
  left: 9.5em;
  bottom: 100%;
  transform: translate(-50%, 50%); }

.group__detect-changes {
  align-self: flex-start; }

.refresh-view-implementation {
  display: flex;
  align-self: flex-start;
  margin-top: 1em;
  margin-left: 2px; }

.group__refresh-view {
  margin-left: 2em;
  padding: 0;
  bordeR: none; }

.dynamic {
  margin-top: calc(3em + 2px);
  margin-left: 4em; }

.step__refresh-child-components {
  position: relative;
  background: #d88b1f; }

.step__refresh-child-components:before,
.step__refresh-child-components:after {
  content: '';
  position: absolute;
  z-index: -1; }

.step__refresh-child-components:before {
  content: 'for loop tView.components';
  top: 100%;
  right: 12em;
  white-space: nowrap;
  color: #fff;
  font-size: 0.75em; }

.step__refresh-child-components:after {
  top: calc(100% + 2px);
  height: 2em;
  width: 8em;
  background: none;
  border-bottom: 2px solid;
  border-right: 2px solid;
  border-bottom-right-radius: 30px;
  border-left: none;
  right: 50%;
  margin-right: -1.5px;
  color: #fff; }

.step__component-refresh {
  position: relative; }

.step__component-refresh:before,
.step__component-refresh:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 100%; }

.step__component-refresh:before {
  height: calc(36em + 9px);
  width: calc(4em + 6px);
  margin-left: -1.5px;
  border: 2px solid;
  border-right: none;
  border-radius: 30px 0 0 30px;
  margin-top: -1px;
  z-index: -1;
  color: #fff; }

.step__component-refresh:after {
  transform: translate(50%, -50%); }

.step__render-embedded-template {
  position: relative; }

.step__render-embedded-template:before {
  content: '';
  position: absolute;
  color: #fff;
  right: 100%;
  top: 50%;
  transform: translate(50%, -50%); }

.step__render-embedded-template:after {
  content: '';
  position: absolute;
  z-index: -1;
  color: #fff; }

.step__render-embedded-template:after {
  bottom: calc(50% - 1px);
  right: -2em;
  width: 12em;
  height: calc(13em - 8px);
  border: 2px solid;
  border-radius: 0 30px 30px 0;
  border-left: none; }

.step_render_component_or_template {
  margin-left: 2em; }

.step__template {
  position: relative; }

.step__template:before,
.step__template:after,
.step__template i:before,
.step__template i:after {
  content: '';
  position: absolute;
  z-index: -1;
  color: #fff; }

.step__template:before {
  top: 50%;
  left: 100%;
  width: 10em;
  height: 0;
  border-top: 2px solid;
  transform: translateY(-50%); }

.step__template:after {
  width: 0;
  height: 0;
  left: 100%;
  border: solid transparent;
  border-right-color: #fff;
  border-width: 6px;
  transform: translate(-50%, 50%);
  border-right-width: 11px;
  bottom: 50%;
  margin-top: 5px;
  border-left-width: 11px; }

.step__template i:before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  border-left: 2px solid;
  transform: translateX(-50%);
  color: #fff;
  height: calc(4em + 3px);
  z-index: -1; }

.step__template i:after {
  left: 50%;
  bottom: calc(100% + 1px);
  transform: translate(-50%, 50%); }

.step__refresh_view {
  position: relative; }
  .step__refresh_view:before {
    content: '';
    position: absolute;
    top: 100%;
    width: 0;
    left: 50%;
    height: 4em;
    border-left: 2px solid #fff;
    transform: translateX(-50%);
    z-index: -1; }

.step__execute-init-hooks {
  position: relative; }
  .step__execute-init-hooks:after {
    left: 50%;
    bottom: calc(100% + 1px);
    transform: translate(-50%, 50%); }

.step__refresh-dynamic-children {
  position: relative;
  background: #d88b1f; }

.step__refresh-dynamic-children:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
  width: calc(9em - 4px);
  height: 2px;
  margin-top: -1px;
  z-index: -1;
  color: #fff;
  background: #fff; }

.step__refresh-dynamic-children:after {
  content: 'for loop';
  position: absolute;
  top: -1.5em;
  left: calc(100% + 6px);
  z-index: -1;
  color: #fff;
  font-size: .75em;
  white-space: nowrap; }

[data-step="5"] {
  margin-left: 2em; }

.step__execute-init-and-content-hooks {
  position: relative; }

.step__execute-init-and-content-hooks:before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 2px;
  background: #fff;
  z-index: -1;
  height: calc(3em + 3px);
  margin-left: -1px; }

.step__execute-init-and-content-hooks:after {
  left: 50%;
  bottom: calc(100% + 1px);
  transform: translate(-50%, 50%); }

.cd-triggers__manual:after, .step__detect-changes:after, .step__template i:after, .step__execute-init-hooks:after, .step__execute-init-and-content-hooks:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: solid transparent;
  border-top-color: #fff;
  border-width: 6px;
  border-top-width: 11px;
  border-bottom-width: 11px;
  z-index: -1; }

.step__component-refresh:after, .step__render-embedded-template:before {
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-left-color: #fff;
  border-left-width: 11px;
  border-right-width: 11px;
  z-index: -1; }

.info {
  display: none; }

.info__action,
.info__view {
  margin-top: 1em;
  color: #fff;
  font-size: 1em; }

#info,
#currentView {
  font-size: 1.5em; }

#info {
  color: #f1ce9d; }

#range-value {
  margin-top: 1em;
  color: #fff;
  font-size: 28px; }

/* Range slider */
.range-container {
  width: 500px;
  margin: 2em auto 1em auto;
  text-align: center; }

.rangeslider,
.rangeslider__fill {
  display: block;
  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; }

.rangeslider {
  background: #e6e6e6;
  position: relative; }

.rangeslider--horizontal {
  height: 20px;
  width: 100%; }

.rangeslider--vertical {
  width: 20px;
  min-height: 150px;
  max-height: 100%; }

.rangeslider--disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4; }

.rangeslider__fill {
  background: #d88b1f;
  position: absolute; }

.rangeslider--horizontal .rangeslider__fill {
  top: 0;
  height: 100%; }

.rangeslider--vertical .rangeslider__fill {
  bottom: 0;
  width: 100%; }

.rangeslider__handle {
  background: white;
  border: 1px solid #ccc;
  cursor: pointer;
  display: inline-block;
  width: 36px;
  height: 36px;
  position: absolute;
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4xIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g");
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%; }

.rangeslider__handle:after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjEzIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==");
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.13)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.13), rgba(255, 255, 255, 0));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.13), rgba(255, 255, 255, 0));
  background-image: linear-gradient(rgba(0, 0, 0, 0.13), rgba(255, 255, 255, 0));
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%; }

.rangeslider__handle:active, .rangeslider--active .rangeslider__handle {
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjEiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4xMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==");
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.12)));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.12));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.12));
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.12)); }

.rangeslider--horizontal .rangeslider__handle {
  top: -10px;
  touch-action: pan-y;
  -ms-touch-action: pan-y; }

.rangeslider--vertical .rangeslider__handle {
  left: -10px;
  touch-action: pan-x;
  -ms-touch-action: pan-x; }

input[type="range"]:focus + .rangeslider .rangeslider__handle {
  -moz-box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
  -webkit-box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
  box-shadow: 0 0 8px rgba(255, 0, 255, 0.9); }

.tree {
  padding: 0;
  list-style: none; }
  .tree ul {
    list-style: none;
    padding-left: 32px; }
  .tree li {
    position: relative; }
    .tree li:before, .tree li:after {
      content: '';
      position: absolute;
      left: -12px; }
    .tree li:before {
      border-top: 1px solid #fff;
      top: 1.7em;
      width: 12px;
      height: 0; }
    .tree li:after {
      border-left: 1px solid #fff;
      height: 100%;
      width: 0;
      top: 0; }
  .tree ul > li:last-child::after {
    height: 1.7em; }
  .tree > li:last-child:before,
  .tree > li:last-child:after {
    content: none; }
  .tree-item {
    display: inline-block;
    margin-top: .7em;
    padding: 0 10px;
    line-height: 2em;
    border-radius: 3px;
    background: #efefef;
    color: #233; }
    .tree-item.active {
      background: #9c27b0;
      color: #fff; }

